{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
    "rules": {
        "react/jsx-equals-spacing": [2, "never"],
        "react/jsx-max-props-per-line": [
            2,
            {
                "when": "multiline",
                "maximum": 1
            }
        ],
        "no-multi-spaces": "error",
        "comma-spacing": "error",
        "no-trailing-spaces": "error"
    },
    "globals": {
        "process": true
    }
}
